* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* For testing only */
  border: 1px solid red;
}

.first-row {
  margin: 10px 25px;
}

.items-list {
  width: 100%;
  position: relative;
}
/* main features of items */
.item {
  width: 300px;
  height: 300px;
  margin: 5px 5px;
  list-style-type: none;
}
/* First item */
li:first-child {
  background: blue;
}
/* Second item */
li:nth-child(2) {
  background: red;
  position: absolute;
  top: 0%;
  left: 40%;
}
/* Third item */
li:last-child {
  background: green;
  position: absolute;
  top: 0%;
  right: 0%;
}
