* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* For testing only */
  /* border: 1px solid red; */
}
/* Main container */
.container {
  width:1000px;
  margin: auto;
}
/* /Main Container */

/* main features of items */
.items-list {
  height: 400px;
  margin: 10px;
  position: relative;
}

.item {
  margin: 5px 5px;
  list-style-type: none;
}

img {
  position: relative;
  z-index: 1;
}

/* First item */
li:first-child {
  position: absolute;

}
/* Second item */
li:nth-of-type(even) {
  position: absolute;
  top: 0%;
  left: 34.25%;
}
/* Third item */
li:last-child {
  position: absolute;
  top: 0%;
  right: 0%;
}

/* Banner Discount */
/* green */
.discount {
  position: absolute;
  display: inline-block;
  width: 42px;
  height: 20px;
  top: 0px;
  right: 0px;
  background: green;
  line-height: 20px;
  text-align: center;
  z-index: 1;
}
/* Red */
.red {
  background: red;
}
/* /Banner Discount */

/* Heart hover */
.heart {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 30px;
    top: 90%;
    right: 0px;
    line-height: 20px;
    text-align: center;
    color: red;
    font-size: 40px;
    z-index: 1;
}
img:hover {
  z-index: 0;
}
/* /Heart hover */
